<div class="votes">
  <div class="voteup">
</div>
  <div><%= upvotes %></div>
  </div>
<div class="side-info">
    <a href="#/annotation/1234"><div class="icon i<%= colorCode%> "></div></a>  
</div>
<div class="info">
  <h4><%= type %></h4>
    <p class="details"><%= shortDescription %></p>
</div>
